.start-screen {
    color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startScreenImage {
    width: 100%;
    height: 100vh;
}

.title {
    position: absolute;
    font-size: 100px;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f8ff;
    top: 90px;
    border: solid 10px white;
    background-color: #000;
    border-radius: 36px;
}

.drunkGuy {
    position: absolute;
    width: 417px;
    height: 526px;
    bottom: 189px;
}

.startGame {
    position: absolute;
    font-size: 71px;
    color: #f0f8ff;
    height: 77px;
    display: flex;
    bottom: 66px;
    border: solid 6px white;
    background-color: #000;
    border-radius: 28px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.startGame:hover {
    transform: scale(1.1);
    }